<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>OAuth2 Cognito Demo</title>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
</head>
<body>
	<section class="section">
		<div class="container has-text-centered">
			<div>
				<h1 class="title">Restricted info</h1>

				<div sec:authorize="isAuthenticated()">
					<div class="box">
						<table border="1px">
							<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Mail</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="employee : ${employees}">
								<td><span th:text="${employee.id}"></span></td>
								<td><span th:text="${employee.name}"></span></td>
								<td><span th:text="${employee.email}"></span></td>
							</tr>
							</tbody>
						</table>
						<br /><br />
						<a class="button info is-info" href="/">Return home</a>
					</div>
				</div>

				<div sec:authorize="isAnonymous()">
					<div class="box">
						<h1 class="title">You're not authorized to see this content!</h1>
						<br />
						<a class="button login is-primary"
							th:href="@{/oauth2/authorization/cognito-client}">Log in with Amazon Cognito</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>